<!-- Page Section Start -->
<div class="page-section section section-padding">
    <div class="container">

        <form action="#">
            <div class="row mbn-40">
                <div class="col-12 mb-40">
                    <div class="cart-table table-responsive">
                        <table>
                            {{{cartHeader}}}
                            <tbody>
                            {{#each cartBody}}
                                <tr>
                                    <td class="pro-thumbnail"><a href="#"><img src={{this.image}} alt=""/></a></td>
                                    <td class="pro-title"><a href="#">{{this.name}}</a></td>
                                    <td class="pro-price"><span class="amount">${{this.price}}</span></td>
                                    <td class="pro-quantity">
                                        <div class="pro-qty"><input type="text" value="1"></div>
                                    </td>
                                    <td class="pro-subtotal">${{this.price}}</td>
                                    <td class="pro-remove"><a id="rmv_{{this._id}}" class="remove-from-cart" href="/delete-from-cart">×</a></td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
                {{{cartTotals}}}
            </div>
        </form>

    </div>
</div><!-- Page Section End -->
    